header{
  // height: 100px;
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;


      .nav-left a{
        color: rgb(255, 56, 92);
        font-size: 30px;

        &:hover{
          text-decoration: none;
        }
      }

      .nav-right ul{
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
          li{
            margin-left: 15px;
          }

        .search-bar{
          border-radius: 2px;
        }

        .search{
          border-radius: 2px;
        }
      }
    }

    .search-mobile{
      text-align: center;
      display: none;
      margin-top: 30px;

      .search-bar{
        border-radius: 2px;
      }

      .search{
        border-radius: 2px;
      }
    }




}

@media screen and (max-width: 768px) {

  .nav-right .search-bar{
    display: none;
  }

  .nav-right .search{
    display: none;
  }

  header .search-mobile{
    display: block;
  }

}
