// general
.create-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hide{
    display: none;
}

.form-group{
    margin-bottom: 30px;
    .label{
        display: inline-block;
        width: 100px;
        margin-right: 40px;
    }
    span{
        .box{
            border: 2px solid $mainColor;
            border-radius: 5px;
        }
    }
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    .cover-custom {
        padding-left: 55px;
        width: 300px;
        height: 45px;
        line-height: 45px;
        border-radius: 10px;
        color: white;
        transition: 0.6s;
        border: 1px solid lightgrey;
        background-color: $mainColor;
        background-size: 200% auto;
        &:hover{
          color: white;
          border: 1px solid lightgrey;
          background-color: $secondaryColor;
          background-position: right center;
          background-image: linear-gradient(to right, $mainColor 0%, $secondaryColor 51%, $mainColor 100%);
        }
    }
    
}

.map-button{
    margin-bottom: 30px;
}

