// general
.cont{
    display: flex;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: #888888;
}

.block{
    display: block;
}

#submit{
    margin-bottom: 30px;
    background-color: $mainColor;
}

.top-container.cont{
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    height: 400px;
    margin: auto;
    .top-box{
        display: flex;
        
        height: 300px;
        &.address-check{
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    .map-button{
        margin-bottom: 30px;
    }
    #map-map{
        width:100%;
        height:300px;
        #map{
            width: 100%;
            height:300px;
        }
    }
    
}
.medium-container.cont{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        max-width:1200px;
        height: 300px;
        margin: auto;
        input[type="file"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
        .cover-custom {
            // padding-left: 55px;
            // margin-left: -50px;
            padding: 0 10px;
            max-width: 220px;
            height: 45px;
            line-height: 45px;
            border-radius: 10px;
            color: white;
            transition: 0.6s;
            border: 1px solid lightgrey;
            background-color: $mainColor;
            background-size: 200% auto;
            &:hover{
              color: white;
              border: 1px solid lightgrey;
              background-color: $secondaryColor;
              background-position: right center;
              background-image: linear-gradient(to right, $mainColor 0%, $secondaryColor 51%, $mainColor 100%);
            }
        }
}
.bottom-container.cont{
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    height: 400px;
    margin: auto;
    margin-bottom: 0;
    font-size: 20px;
    .hide-flat{
        padding: 10px;
        .radius-container{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            .radius {
                width: calc(50% - 10px);
            }
        }  
    }
    .extra-service-container{
        // margin: 30px 60px;
        // padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        // font-size: 30px;
        .extra_services_box{
            line-height: 80px;
            display: flex;
            flex-wrap: wrap;
            width: calc(100% / 3 - 10px);
            span{
                // margin-bottom: 30px;
                text-align: center;
                i{
                    color: $mainColor;
                    margin-right: 5px;
                }
            }
            span.checkbox{
                margin-left: 10px;
            }
        }
    }
}
.submit-box{
    margin: auto;
    text-align: center;
}


//media Query
// @media screen and (max-width: 1319px){
//     .extra-service-container{
//         width: 100%;
//         font-size:13px;
        
//         .extra_services_box{
//             line-height: 20px;
//             width: calc(100% / 2 - 10px);
//         }
//     }
// }
@media screen and (max-width: 930px){
    .extra-service-container{
        // display: inline-block;
        width: calc(100% - 40px);
        
        
        .extra_services_box{
            line-height: 30px;
                width: calc(100% / 2 - 10px);
            
        }
    }
   
}
@media screen and (max-width: 778px) {

   .top-container.cont{
        display: block;
        margin-bottom:100px;
        .address-check{
        width: calc(100% - 40px);
        }
        #map-map{
        width: calc(100% - 40px);
            #map{
                width: 100%;
                max-height: 200px;
            }
        }
   }
   .medium-container.cont{
       
        width: 100%;
   }
   .bottom-container.cont{
    display:block;
        .hide-falt{
            text-align: center;
            width: calc(100% - 40px);
        }
        .extra-service-container{
            
            width: calc(100% - 40px);
            
            
            .extra_services_box{
                line-height: 30px;
                width: calc(100% / 2 - 10px);
            }
        }
   }
  
}



