.form-box{
    display: flex;
    flex-direction: column;
    label{
        text-align: center;
    }
    input{
        border: 1px solid $mainColor;
        border-radius: 5px;
        text-align: center;
        width: 50%;
        margin: auto;
    }
    
}
#s-extra{
    margin-top: 10px;
}
.cont-edit{
    border: 3px solid $mainColor;
    text-align: center;
    padding: 20px;
    h2{
        color: $mainColor;
        margin-bottom: 30px;
    }
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    .cover-custom {
        padding: 0 10px;
        max-width: 200px;
        height: 45px;
        line-height: 45px;
        border-radius: 10px;
        color: white;
        transition: 0.6s;
        border: 1px solid lightgrey;
        background-color: $mainColor;
        background-size: 200% auto;
        font-size: 12px;
        &:hover{
          color: white;
          border: 1px solid lightgrey;
          background-color: $secondaryColor;
          background-position: right center;
          background-image: linear-gradient(to right, $mainColor 0%, $secondaryColor 51%, $mainColor 100%);
        }
    }
    
}
.container.cont-edit.bottom-container-edit{
   
    .form-group.form-box.hide-flat-edit{
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;
        p{
            margin-bottom: 30px;
        }
        .radius-container{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            margin-top: 50px;
            padding-left: 25px;
            .radius {
                width: calc(50% - 10px);
            }
        }  
    }
  
    .form-group.form-box.extra-service-container-edit{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        text-align: center;
        .extra_services_box_edit{
            
            line-height: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: calc(100% / 3 - 10px);
            span{
                text-align: center;
                i{
                    color: $mainColor;
                    margin-right: 5px;
                }
            }
            span.checkbox{
                margin: auto;
            }
        }
    }
}
.submit-box{
    text-align: center;
    #submit{
        margin-bottom: 30px;
        background-color: $mainColor;
    }
}

