.jumbotron{
  position: relative;
  padding-top: 2rem;
  .promo-title{
    h1{
      text-align: center;
    }
  }
  img{
    width: 100%;
    border-radius: 10px;
  }
  .destination{
    position: absolute;
    left: 36%;
    top: 35%;
    transform: translate(-40%, -40%);
    font-size: 50px;
    text-shadow: 3px 3px 3px #484848;
  }
}
.container{
  .container-carousel{
    .promo h2{
      margin-top: 80px;
      margin-bottom: 40px;
      text-align: center;
      font-size: 35px;
      line-height: 25px;
      text-shadow: 1px 1px 2px #5bbaff;
    }

    // Carosello
    .box-carousel{
      // width: 90%;
      max-width: 800px;
      // height:360px;
      margin: 0 auto;
      border: 2px solid lightgrey;
      border-radius: 10px;
      box-shadow: 0 0 50px #5bbaff;
      // box-shadow: 6px 7px 10px -4px #5bbaff;

      .carousel-inner img{
        // width:640px;
        // height: 450px;
        width: 100%;
        border-radius: 10px;
      }
    }


  }
}

// JUMBOTRON FLAT
.jumbotron{
  padding-top: 3rem;
  h2{
    text-align: center;
    font-size: 35px;
    line-height: 25px;
    text-shadow: 1px 1px 2px rgb(167, 25, 81);
  }
  .promo{
    margin-top: 60px;

    // h1{
    //   text-align: center;
    //   color: rgb(167, 25, 81);
    //   margin-bottom: 30px;
    // }

    .row {
      display: flex;
      align-items: center;
    }
    a{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      display: inline-block;
      width: calc(100% / 3 - 20px);
      color: black;
      border: 1px solid lightgrey;
      border-radius: 10px;
      box-shadow: 6px 7px 10px -4px rgba(0,0,0,0.60);


      &:hover{
        text-decoration: none;
        color: black;
      }

      // img {
      //   width: 100%;
      //   border-radius: 10px 10px 0 0;
      // }

      .box-flat{
        min-height: 500px;
        img{
          height: 240px;
          // width: 100%;
          border-radius: 10px 10px 0 0;
        }
        .flat-info{
          padding: 10px;
          // &:hover{
          //   text-decoration: none;
          // }

          h3{
            font-size: 20px;
            margin-top: 10px;

          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .promo .row a{
    width: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 425px) {
  .promo .row a{
    width: calc(100% - 20px);
  }
}
