
.margin {
  width: 60%;
  margin: auto;
}
.search-interface{
  padding-top: 25px;
  padding-bottom: 25px;
}
.typology {
  padding-left: 15px;
  label {
    .category {
      font-size: 22px;
      font-weight: bolder;
    }
  }
}
.second_navbar {
  display: flex;
}
#radius, #beds, #rooms {
  border: 1px solid #3490dc;
  border-radius: 4px;
  font-size: 18px;
}
// servizi extra
.extra-services {
  padding: 30px;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  ul li {
    font-size: 15px;
    font-weight: 300;
    width: 200px;
  }
  .services {
    margin-bottom: 25px;
  }
  .icone{
    font-size: 20px;
    width: 50px;
    text-align: center;
  }
  label {
    margin-top: 0.5em;
  }
}

.icone_space {
  color: $blue;
}

// media query
@media screen and (max-width: 768px) {
  .margin {
    width: 80%;
    margin:auto;
  }
}

@media screen and (max-width: 510px) {
  .margin {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .margin {
    width: 100%;
    margin: auto;
  }
}
